.ctaButton {
  border: none;
  outline: none;
  padding: 10px 20px;
  font-family: "merriweather";
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 4px;
  color: var(--white);
  background-color: var(--soft-red);
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out;
}
.ctaButton:hover {
  background-color: var(--hover-red);
  /* outline: 2px solid var(--dark-background); */
}
@media screen and (min-width: 1200px) {
  .ctaButton {
    font-size: 24px;
    padding: 12px 22px;
  }
}
