.hero {
  width: 100%;
  height: calc(100vh - 75px);
  max-height: 725px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background: url("../../assets/png/HeroImageSmall-min.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.heroText {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  padding-right: 0px;
  color: var(--light-gray);
}
.heroText h1 {
  text-align: center;
  font-family: var(--header-font);
  letter-spacing: 2px;
  font-weight: 900;
  font-size: 42px;
  -webkit-text-stroke: 1px var(--dark-background);
  margin-bottom: 8px;
}
.heroText h2 {
  padding: 5px 0;
  margin-bottom: 40px;
}
.heroText p {
  display: none;
  padding: 2px 25px;
  text-align: center;
  margin-bottom: 40px;
  color: var(--light-gray);
}
@media screen and (min-width: 570px) {
  .heroText h1 {
    font-size: 52px;
  }
}
@media screen and (min-width: 640px) {
  .hero {
    padding: var(--medium-page-container);
  }
  .heroText h1 {
    font-size: 60px;
  }
  .heroText p {
    padding: 2px 0px;
    width: 80%;
    text-align: left;
  }
}
@media screen and (min-width: 743px) {
  .hero {
    max-height: 1058px;
  }
}
@media screen and (min-width: 840px) {
  .heroText h1 {
    font-size: 70px;
  }
}
@media screen and (min-width: 1279px) {
  .hero {
    padding: var(--large-page-container);
    height: 685px;
    min-height: 685px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: url("../../assets/jpg/HeroImageLarge.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
  }
  .heroText {
    padding-top: 140px;
    padding-left: 30px;
    align-items: flex-start;
    justify-content: center;
  }
  .heroText h1 {
    font-size: 70px;
    margin-bottom: 0px;
  }
  .heroText h2 {
    font-size: 36px;
    font-weight: 600;
  }
  .heroText p {
    font-size: 18px;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1290px) {
  .heroText h1 {
    font-size: 80px;
  }
}
@media screen and (min-width: 1440px) {
  .hero {
    height: 877px;
    min-height: 877px;
  }
}
