.portfolioList {
  display: grid;
  grid-template-columns: 1fr;
  list-style-type: none;
  gap: 20px;
  padding: 20px;
  background-color: var(--dark-green);
  height: fit-content;
  font-size: 100%;
}
@media screen and (min-width: 640px) {
  .portfolioList {
    padding: 25px;
    gap: 25px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(26%, 1fr, 26%);
  }
}
@media screen and (min-width: 850px) {
  .portfolioList {
    padding: 30px;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
  }
}
