.backdrop {
  display: block;
  position: fixed;
  top: 0%;
  left: 0;
  width: 100vw;
  height: 100%;
  transform: translateY(-100%);
  background: radial-gradient(var(--white), var(--light-gray));
  opacity: 0.8;
  z-index: 5;
}
.modal {
  position: fixed;
  left: 50%;
  transform: translate(-50%, -150%);
  z-index: 5;
  margin-top: 81px;
}
.activeBackdrop {
  animation: activeBackdrop 0.75s forwards ease-in;
}
.inactiveBackdrop {
  animation: inactiveBackdrop 0.75s forwards ease-out;
}
.activeModal {
  animation: activeModal 0.75s forwards ease-in;
}
.inactiveModal {
  animation: inactiveModal 0.75s forwards ease-out;
}
@keyframes activeBackdrop {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}
@keyframes inactiveBackdrop {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-100%);
  }
}
@keyframes activeModal {
  from {
    transform: translate(-50%, -150%);
  }
  to {
    transform: translate(-50%, 0%);
  }
}
@keyframes inactiveModal {
  from {
    transform: translate(-50%, 0%);
  }
  to {
    transform: translate(-50%, -150%);
  }
}
