@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Merriweather:wght@300;400;700;900&display=swap");

:root {
  /* colors */
  --white: white;
  --dark-background: #282525;
  --dark-green: #005b5d;
  --dark-gray: #443e3e;
  --soft-beige: #f0eccf;
  --soft-green: #a3bb98;
  --soft-red: #fc5555;
  --hover-red: #fc2323;
  --light-red: rgb(245, 182, 182);
  --light-gray: #f2f2f2;
  --gold-text: #f5aa45;
  --frame-color: #8d5a1590;
  --old-paper: #e0d3af;
  /* padding containers */
  --small-container: 14px 20px;
  --medium-container: 14px 60px;
  --medium-page-container: 50px 30px;
  --large-container: 14px 120px;
  --large-page-container: 100px 120px;
  /* elements measures */
  --logo-measure: 105px;
  --header-height: 75px;
  --heroImg-height: 220px;
  /* typography */
  --header-font: "Merriweather", serif;
  --body-font: "Inter", sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  width: 100vw;
  max-width: 1700px;
  margin: auto;
  /* overflow-x: hidden; */
}
body::-webkit-scrollbar {
  display: none;
}
