:root {
  /* colors */
  --dark-background: #282525;
  --soft-red: #fc5555;
  /* padding containers */
  --small-container: 14px 20px;
  --medium-container: 14px 60px;
  --large-container: 14px 120px;
  /* elements measures */
  --logo-measure: 105px;
  --header-height: 75px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
